.DS_Store
images/.DS_Store
images/julia-logo-325-by-225-mosaicize.pdf
images/julia-logo-325-by-225-mosaicize325.pdf
images/julia-logo-325-by-225-mosaicize325.png
images/julia-logo-mosaicize325.pdf
julia-tan-stuff/*
src/.DS_Store
